.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    padding: 10px;
    border: 5px solid darkred;
    margin: 10px;
}

.box:nth-child(3),
.box:nth-child(4) {
    background-color: blueviolet;
}